/* Other rules */
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    margin-top: 200px;
    /* width: 300px;
    height: 300px; */
}

/* .left-block {
    border: solid 1px red;
} */
.right-block {
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
}

.buttonPair {
    /* padding: 10px; */
    display: flex;
    /* align-items: center; */
}

#on,
#off {
    border: solid grey 3px;
    margin: 20px;
    padding: 10px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    border: solid 1px lightgray;
}
.on {
    background-color: white;
    color: #5c48d3;
}

.off {
    background-color: #5c48d3;
    color: white;
}

.right-block > div {
    align-items: center;
}

#noWay,
#go {
    padding: 20px;

    border-radius: 10px;
    margin-left: 100px;
}

#noWay {
    background-color: tomato;
}

#go {
    background-color: green;
}

.hidden {
    display: none;
}
